@model IEnumerable<BookMyTruck.Truck>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


    
<div class="card" style="width: 1200px !important; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;" >
    <h2 class="text-danger text-center font-weight-bold" style="margin-bottom:20px">
        List of Trucks
    </h2>
    <div class="table-responsive" >

        <table class="table table-striped" style="width:1800px">
            <tr class="bg-danger text-light">
                <th>
                    Enable / Disable
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruckStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruckNumber)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TruckType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DriverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DriverLicenceNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PickCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DropCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxCapacity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPerKM)
                </th>



                <th colspan="2">
                    <center>
                        Action
                    </center>
                </th>
            </tr>

            @{
                if (Model.Count() != 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{
                                    if (item.TruckStatus)
                                    {
                                                    
                                            if (!item.BookedStatus)
                                            {
                                                @Html.ActionLink("Disable", "DisableTruck", new { truckNumber = item.TruckNumber }, htmlAttributes: new { @class = "btn-sm btn-danger", @style = "margin-top:10px", @disabled = "disabled" })
                                            }
                                            else
                                            {
                                                <button class="btn-sm btn-danger"  disabled>Disable</button>
                                            }
                                                   

                                    }
                                    else
                                    {
                                        @Html.ActionLink("Enable", "EnableTruck", new { truckNumber = item.TruckNumber }, htmlAttributes: new { @class = "btn-sm btn-success", @style = "margin-top:10px" })

                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (item.BookedStatus)
                                    {
                                        <span class="text-success" style="font-size:12px">Booked</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger" style="font-size:12px">Not Booked</span>
                                    }
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TruckNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TruckType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverLicenceNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PickCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DropCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxCapacity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CostPerKM)
                            </td>


                            <td style="">

                                @Html.ActionLink("Update", "UpdateTruck", new { id = item.TruckNumber }, htmlAttributes: new { @class = "btn-sm btn-warning", @style = "margin-bottom:10px" })
                            </td>
                            <td>
                                @Html.ActionLink("Delete", "DeleteTruck", new { id = item.TruckNumber }, htmlAttributes: new { @class = "btn-sm btn-danger", @style = "margin-top:10px" })

                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="10">
                            <center>
                                <h2 class="text-danger font-italic font-weight-bold" style="margin-top:10%"> 404 <br />  No Records Found !!!</h2>
                            </center>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

</div>