@model BookMyTruck.Models.UserRegister
@{
    Layout = null;
}
@using (Html.BeginForm("Register", "Home"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container" style="margin-left: 10%;margin-top:-20px !important">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control", @id = "txtname", @maxlength = "25" } })
                <div>
                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger", @id = "nameerror" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.UserRole, new { htmlAttributes = new { @class = "form-control" } })*@

                @Html.DropDownListFor(model => model.UserRole, new SelectList(ViewBag.ddlRoles, "Value", "Text"), "--- Select ---", htmlAttributes: new { @class = "form-control", @id = "txtrole" })

                @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger", @id = "roleerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "txtregisterpassword" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @id = "registerpassworderror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-10" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "txtreenterpassword" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @id = "errorrenerterpassword" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="btnsignup" value="Getin" class="btn btn-danger" />
            </div>
        </div>

        <div class="form-group" style="display:none">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btngetin" value="Getin" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $("#txtname").keypress(function () { $("#nameerror").html(""); });
        $("#txtrole").click(function () { $("#roleerror").html(""); });
        $("#txtregisterpassword").keypress(function () { $("#registerpassworderror").html(""); });
        $("#txtreenterpassword").keypress(function () { $("#errorrenerterpassword").html(""); });
        $("#btnsignup").click(function () {

            var regex = /\b.*[a-zA-Z]+.*\b/;

            if ($("#txtname").val().length == 0) {
                $("#nameerror").html("Please enter name");
            }
            if (regex.test($("#txtname").val()) == false) {
                $("#nameerror").html("Please enter Valid Name");
            }
            if ($("#txtrole").val().length == 0) {
                $("#roleerror").html("Please select any one");
            }
            if ($("#txtregisterpassword").val().length == 0) {
                $("#registerpassworderror").html("Please enter password");
            }

            if ($("#txtreenterpassword").val() != $("#txtregisterpassword").val()) {
                $("#errorrenerterpassword").html("Password and Confirm Password are different");
            }
            else if ($("#txtname").val().length != 0 && regex.test($("#txtname").val()) == true && ($("#txtrole").val().length != 0) && ($("#txtregisterpassword").val().length != 0) && ($("#txtreenterpassword").val() == $("#txtregisterpassword").val())) {
                $("#btngetin").click();
            }
        });
    </script>

